/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo{
        padding-left: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav_list ul{
    padding-right: 30px;
    }
    .feature_img img{
        transform: scale(1.1);
        padding-left: 20px;
    }
}
